<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <div class="main-content">
        {{>header}}
         <h2>Created By {{name}}</h2>
        <img class="aboutImage" src="/mypic.jpg">
    </div>

{{>footer}}
</body>



</html>